


    <button mat-raised-button color="primary">START GAME</button>
    

<img src="../../assets/mood.jpg" alt="sad" >

<div class="grid grid-pad">
  <a *ngFor="let emotion of emotions" class="col-1-3"
      routerLink="/detail/{{emotion.id}}">
    <div class="module emotion">
      <h4>{{emotion.name}}</h4>
    </div>
  </a>





   <!-- <button mat-raised-button color="primary" class ="button-sad" value="Click" id="11" >SAD</button>
    <button mat-raised-button color="primary">HAPPY</button>
    <button mat-raised-button color="primary">ANGRY</button> 
 
</div>

<emotion-search></emotion-search>
